.topic-content-wrapper {
  background: #fff;

  .topic-content-header {
		padding: 20px;
		box-sizing: border-box;
		border-bottom: 1px solid #E5E5E5;

    .topic-title {
      font-size: 44px;
      font-weight: 700;
    }

    .topic-info {
      margin-top: 20px;
      font-size: 24px;
      color: #838383;

      .info {

        &::before {
          content: "•";
          margin-right: 10px;
        }
      }

      .visit-count,
      .tab {
        margin-left: 10px;
      }
    }
	}
	
	.topic-content {
		padding: 20px;
	}
}
